/* Estilos Generales */
body {
    background: #f4f7fa; /* Fondo suave y claro */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título */
h3.text-primary {
    color: #4e73df; /* Azul primario */
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(78, 115, 223, 0.3); /* Sombra suave */
    margin-bottom: 30px;
}

/* Estilo del formulario */
.edit-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo de los campos de entrada */
.form-control {
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #dcdfe3;
    transition: all 0.3s ease;
    background-color: #f9fafb;
}

.form-control:focus {
    border-color: #4e73df;
    box-shadow: 0 0 10px rgba(78, 115, 223, 0.3);
    outline: none;
    background-color: #ffffff;
}

.btn {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn-primary {
    background: linear-gradient(to right, #e0f7fa, #80deea, #e0f7fa);
    border: none;
    color: #4e73df;
}

.btn-primary:hover {
    background: linear-gradient(to right, #e0f7fa, #069fad, #e0f7fa);
    border: none;
}

/* Botón de "Cancelar" */
.btn-secondary {
    background-color: #f72c3d;
    border: none;
    color: white;
}

.btn-secondary:hover {
    background-color: #d32f2f;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .container {
        padding: 15px;
    }

    h3.text-primary {
        font-size: 28px;
    }

    .btn {
        padding: 10px 18px;
        font-size: 14px;
    }
}
